<h1>Edit Post</h1>
<form class="edit-post-form">
  <input type="text" id="post-title" value="{{post.title}}" placeholder="Title">
  <textarea id="post-content" placeholder="Content">{{post.content}}</textarea>
  <button type="submit">Update</button>
</form>

<script src="/js/edit-post.js"></script>
