<h1 id="login-title">Login</h1>
<form class="login-form">
  <input type="text" id="username-login" placeholder="Username">
  <input type="password" id="password-login" placeholder="Password">
  <button type="submit" id="login-button">Login</button>
</form>
<p id="signup-p">Don't have an account? <a href="/signup" id="signup-button-bottom">Sign up</a></p>
<script src="/js/login.js"></script>
