<form class="new-post-form" action="/api/posts" method="post">
  <input id="post-title" type="text" name="title" placeholder="Title">
  <textarea id="post-content" name="content" placeholder="Content"></textarea>
  <button type="submit">Create</button>
</form>
<script src="/js/new-post.js"></script>
