<h1 id="signup-title">Sign Up</h1>
<form action="/api/users" method="post">
  <input type="text" name="username" id="username-signup" placeholder="Username">
  <input type="password" name="password" id="password-signup" placeholder="Password">
  <button type="submit" id="signup-button">Sign Up</button>
</form>
<p id="login-p">Already have an account? <a href="/login" id="login-button-bottom">Login</a></p>
<script src="/js/signup.js"></script>
